@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif !important;
  }

  @keyframes typing {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.typing-effect {
    display: inline-block;
    overflow: hidden;
    border-right: .15em solid orange;
    animation: typing 4.5s steps(40) infinite;
    white-space: nowrap;
}

.text-stroke {
  -webkit-text-stroke: 1px #b7b7b7;
}

.text-stroke-heading {
  -webkit-text-stroke: 1px orange;
}